{% extends 'demo.html' %}


{% block 'title' %}
    <title>index</title>
    {% endblock 'title' %}

{% block 'contant' %}
<div class="container py-4">
    <h1 class="mb-4 text-center fw-bold text-primary">View Model Crud</h1>
    <form method="post" class="row g-3 shadow p-4 rounded bg-white mb-5" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-4">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name='title' value="{{update.title}}" required>
        </div>
        <div class="col-md-4">
          <label for="exampleFormControlTextarea1" class="form-label">Description:</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name='des' value="{{update.des}}" required>
        </div>
        <div class="col-md-4">
          <label for="exampleFormControlInput1" class="form-label">Image:</label>
          <input type="file" class="form-control" id="exampleFormControlInput1" name='image' value="{{update.image}}" required>
        </div>
        <div class="col-12 text-end">
          <button type="submit" class="btn btn-primary px-4">Register</button>
        </div>
    </form>

    <div class="row g-4 justify-content-center">
      {% for post in posts %}
      <div class="col-md-4 d-flex align-items-stretch">
        <div class="card shadow h-100">
          <img src="{{post.image.url}}" alt="Cultural Fest" class="card-img-top event-image" style="height: 220px; object-fit: cover;" />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.des}}</p>
          </div>
          <div class="card-footer bg-white border-0 d-flex justify-content-between">
            <a href="{% url 'update'  post.id %}" class="btn btn-primary btn-sm">Update</a>
            <a href="{% url 'delete'  post.id %}" class="btn btn-danger btn-sm">Delete</a>
            <a href="{% url 'see' post.id%}" class="btn btn-info btn-sm">View</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock 'contant' %}